.post {
    display: flex;
    margin-bottom: 20px;
}
  
.avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #C79923;
    margin-right: 20px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.post_like {
    margin: auto;
}

.post_like span {
    margin-right: 20px;
    font-size: 20px;
    color: blue;
}

.post_text {
    width: 20%;
}

