.wrapper {
  display: grid;
  grid-template-areas: 'h h' 's c';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  width: 1140px;
  margin: 0 auto;
  position: relative;
  grid-auto-flow: column;
}


.content {
  grid-area: c;
}